@font-face {
  font-family: Netflix Sans;
  src: url(./NetflixSans-Regular\\(1\).otf);
}
body {
  font-family: Netflix Sans;
  margin: 0;
  background-color: black;
  color: white;
}
.main-bg {
  background-image: url(./mbi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/*
.main-bg::before{
    content: "Pseudo Element";
    color: white;
    position: absolute;
   
    top:0px;
    bottom:0px;
    left:0px;
    right:0px 


}*/
.backdrop {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.9)
  );
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
}
.himg {
  height: 150px;
  padding: 10px 50px;
}
.hill {
  background-color: #e50914;
  color: white;
  display: block;
  border-radius: 3px;
  height: fit-content;
  width: fit-content;
  text-decoration: none;
  float: right;
  left: 90%;
  top: 20%;
  padding: 7px 17px;
}

.intro {
  color: white;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 20px;
  padding-left: 20px;
}
.intro h1 {
  font-size: 40px;
  margin: 0%;
}
.intro p:first-of-type {
  font-weight: 500;
  font-size: 25px;
}
.get-started {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;

}

.get-started input {
  margin: 0%;
  padding: 8px 15px;
  border: 1px;
}
.get-started input[type="email"] {
  font-size: 11px;
  flex-grow: 3;
}
.get-started input[type="submit"] {
  background-color: #e50914;
  color: white;
  font-size: 16px;
  flex-grow: 1;
  max-width: max-content;
}

/* section styles */
hr {
  border: 3px solid rgb(52, 49, 49);
}
.secton {
  margin: ;
  display: flex;
  align-items: center;
  padding: 20px 100px;
}
.section-text {
  flex: 1;
}
.section-text h2 {
  font-size: 40px;
}
.section-text p {
  font-size: 24px;
}
.section-media {
  flex-grow: 1;
  position: relative;
}
.section-media img {
  width: 100%;
}
.section-media video {
  position: absolute;
  top: 20%;
  left: 14%;
  width: 71%;
  z-index: -1;
}
.section.kids {
  flex-direction: row-reverse;
}
/*footer styles*/
footer {
  padding: 20px 40px;
}
footer a {
  text-decoration: none;
  color: rgb(130, 130, 130);
  font-size: 13px;
  display: block;
  padding: 0.5rem 0px;
}
.link-groups {
  display: flex;
  justify-content: space-between;
}
footer p {
  color: ;
}
@media screen and(max-width:960px) {
  .get-started{
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
 .get-started input[type="email"] {
  width: 100px;
  padding: 12px 5px;
 }
 .intro p{



 }
  .secton{
    flex-direction: column;
    text-align: center;
 }
.section.kids{
flex-direction: column;

}
}

