.main-bg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.intro{
     color: white;
    position: relative;
    bottom: 700px;
    display: flex;
    background-color: black;
    box-sizing: border-box;
    height: 400px;
    width: 500px;
    position: relative;
    right: -430px;
}

.sign-in{
   

}

.submit{
    background-color: red;
    color: white;
    padding: 5px 20px;
}